---
interface Props {
	title: string;
	text: string;
	image: string;
	github: string;
	link: string;
}
import GitHub from "@/icons/GitHub.astro";
import Web from "@/icons/web.astro";

const { title, text, image, github, link } = Astro.props;
---

<div class="card">
	<img src={image} alt={`${title.toLowerCase()} screenshot repository`} />
	<h3>{title}</h3>
	<p>{text}</p>
	<div class="links">
		<a href={github} target="_blank"><GitHub /></a>
		<a href={link} target="_blank"><Web /></a>
	</div>
</div>
<style>
	.card {
		background-color: #fffffe;
		padding: 0.75rem;
		border-radius: 0.5rem;
		max-width: 20rem;
	}

	.links {
		display: flex;
		gap: 1rem;
		justify-content: end;
		align-items: center;
		margin-top: 0.5rem;
	}

	img {
		border-radius: 0.25rem;
	}

	h3 {
		color: #00214d;
		margin-top: 0.5rem;
	}

	p {
		color: #1b2d45;
		margin-top: 0.5rem;
	}
</style>
